USE [master]
GO
/****** Object:  Database [DB_LIGHTNINGSTORE]    Script Date: 07/10/2025 4:40:39 CH ******/
CREATE DATABASE [DB_LIGHTNINGSTORE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_LIGHTNINGSTORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_LIGHTNINGSTORE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_LIGHTNINGSTORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_LIGHTNINGSTORE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_LIGHTNINGSTORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_LIGHTNINGSTORE]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 07/10/2025 4:40:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 07/10/2025 4:40:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[CategoryDescription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACTS]    Script Date: 07/10/2025 4:40:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTS](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Content] [nvarchar](500) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[ContactStatus] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 07/10/2025 4:40:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 07/10/2025 4:40:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[OrderStatus] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 07/10/2025 4:40:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductImage] [nvarchar](max) NULL,
	[CategoryID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[DiscountPrice] [decimal](10, 2) NULL,
	[Quantity] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[ProductDescription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REVIEWS]    Script Date: 07/10/2025 4:40:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REVIEWS](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 07/10/2025 4:40:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[UserPassword] [varchar](max) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Email] [nvarchar](50) NULL,
	[UserAddress] [nvarchar](255) NULL,
	[UserRole] [int] NULL,
	[UserStatus] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WEBSETTING]    Script Date: 07/10/2025 4:40:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WEBSETTING](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](250) NULL,
	[Decription] [nvarchar](500) NULL,
	[Addresse] [nvarchar](500) NULL,
	[Max_Image_Size] [decimal](8, 2) NULL,
	[Websetting_Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CART] ([UserID], [ProductID], [Quantity], [CreatedAt]) VALUES (1, 5, 1, CAST(N'2025-10-06T00:40:47.863' AS DateTime))
INSERT [dbo].[CART] ([UserID], [ProductID], [Quantity], [CreatedAt]) VALUES (2, 4, 1, CAST(N'2025-10-06T00:40:47.863' AS DateTime))
INSERT [dbo].[CART] ([UserID], [ProductID], [Quantity], [CreatedAt]) VALUES (3, 2, 2, CAST(N'2025-10-06T00:40:47.863' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[CATEGORIES] ON 

INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [CategoryDescription]) VALUES (1, N'Đèn trang trí', N'Đèn chùm và đèn treo decor')
INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [CategoryDescription]) VALUES (2, N'Đèn bàn', N'Đèn bàn học sinh')
INSERT [dbo].[CATEGORIES] ([CategoryID], [CategoryName], [CategoryDescription]) VALUES (3, N'Đèn ngoài trời', N'Đèn chiếu sáng và trang trí sân vườn')
SET IDENTITY_INSERT [dbo].[CATEGORIES] OFF
GO
SET IDENTITY_INSERT [dbo].[CONTACTS] ON 

INSERT [dbo].[CONTACTS] ([ContactID], [UserID], [FullName], [Email], [Phone], [Content], [CreatedAt], [ContactStatus]) VALUES (1, 1, N'Nguyễn An', N'an@gmail.com', N'0901111111', N'Tôi muốn hỏi về bảo hành đèn LED.', CAST(N'2025-10-06T00:40:47.867' AS DateTime), N'Chưa xử lý')
INSERT [dbo].[CONTACTS] ([ContactID], [UserID], [FullName], [Email], [Phone], [Content], [CreatedAt], [ContactStatus]) VALUES (2, 2, N'Lê Bình', N'binh@gmail.com', N'0902222222', N'Đèn chùm có miễn phí lắp đặt không?', CAST(N'2025-10-06T00:40:47.867' AS DateTime), N'Chưa xử lý')
INSERT [dbo].[CONTACTS] ([ContactID], [UserID], [FullName], [Email], [Phone], [Content], [CreatedAt], [ContactStatus]) VALUES (3, 3, N'Trần Cường', N'cuong@gmail.com', N'0903333333', N'Cần hỗ trợ đổi hàng.', CAST(N'2025-10-06T00:40:47.867' AS DateTime), N'Chưa xử lý')
SET IDENTITY_INSERT [dbo].[CONTACTS] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERDETAILS] ON 

INSERT [dbo].[ORDERDETAILS] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (1, 1, 1, 2, CAST(50000.00 AS Decimal(12, 2)))
INSERT [dbo].[ORDERDETAILS] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (2, 2, 2, 1, CAST(95000.00 AS Decimal(12, 2)))
INSERT [dbo].[ORDERDETAILS] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Price]) VALUES (3, 3, 3, 1, CAST(2300000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[ORDERDETAILS] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDERS] ON 

INSERT [dbo].[ORDERS] ([OrderID], [UserID], [TotalAmount], [OrderStatus], [CreatedAt]) VALUES (1, 1, CAST(180000.00 AS Decimal(10, 2)), N'Hoàn tất', CAST(N'2025-10-06T00:40:47.863' AS DateTime))
INSERT [dbo].[ORDERS] ([OrderID], [UserID], [TotalAmount], [OrderStatus], [CreatedAt]) VALUES (2, 2, CAST(320000.00 AS Decimal(10, 2)), N'Đang giao', CAST(N'2025-10-06T00:40:47.863' AS DateTime))
INSERT [dbo].[ORDERS] ([OrderID], [UserID], [TotalAmount], [OrderStatus], [CreatedAt]) VALUES (3, 3, CAST(2500000.00 AS Decimal(10, 2)), N'Chờ xử lý', CAST(N'2025-10-06T00:40:47.863' AS DateTime))
SET IDENTITY_INSERT [dbo].[ORDERS] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([ProductID], [ProductName], [ProductImage], [CategoryID], [Price], [DiscountPrice], [Quantity], [SupplierID], [ProductDescription]) VALUES (1, N'Đèn treo tường cổ điển', N'user/images/p1.jpg', 1, CAST(60000.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)), 100, 1, N'Đèn treo tường phong cách cổ điển, ánh sáng dịu nhẹ, thích hợp trang trí phòng khách hoặc hành lang.')
INSERT [dbo].[PRODUCTS] ([ProductID], [ProductName], [ProductImage], [CategoryID], [Price], [DiscountPrice], [Quantity], [SupplierID], [ProductDescription]) VALUES (2, N'Đèn gắn tường hiện đại', N'user/images/p2.jpg', 1, CAST(120000.00 AS Decimal(10, 2)), CAST(95000.00 AS Decimal(10, 2)), 50, 1, N'Đèn gắn tường thiết kế hiện đại, ánh sáng LED tiết kiệm điện, tạo không gian sang trọng.')
INSERT [dbo].[PRODUCTS] ([ProductID], [ProductName], [ProductImage], [CategoryID], [Price], [DiscountPrice], [Quantity], [SupplierID], [ProductDescription]) VALUES (3, N'Đèn ngủ để bàn', N'user/images/p3.jpg', 2, CAST(280000.00 AS Decimal(10, 2)), CAST(200000.00 AS Decimal(10, 2)), 10, 1, N'Đèn ngủ để bàn với chao vải cao cấp, ánh sáng ấm áp, phù hợp phòng ngủ.')
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
SET IDENTITY_INSERT [dbo].[REVIEWS] ON 

INSERT [dbo].[REVIEWS] ([ReviewID], [UserID], [ProductID], [Rating], [Comment], [CreatedAt]) VALUES (1, 1, 1, 5, N'Rất sáng và tiết kiệm điện', CAST(N'2025-10-06T00:40:47.867' AS DateTime))
INSERT [dbo].[REVIEWS] ([ReviewID], [UserID], [ProductID], [Rating], [Comment], [CreatedAt]) VALUES (2, 2, 2, 4, N'Ánh sáng dễ chịu', CAST(N'2025-10-06T00:40:47.867' AS DateTime))
INSERT [dbo].[REVIEWS] ([ReviewID], [UserID], [ProductID], [Rating], [Comment], [CreatedAt]) VALUES (3, 3, 3, 5, N'Đèn chùm rất đẹp', CAST(N'2025-10-06T00:40:47.867' AS DateTime))
SET IDENTITY_INSERT [dbo].[REVIEWS] OFF
GO
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([UserID], [UserName], [UserPassword], [Phone], [Email], [UserAddress], [UserRole], [UserStatus], [CreatedAt]) VALUES (1, N'Nguyễn An', N'123456', N'0901111111', N'an@gmail.com', N'Hà Nội', 1, 1, CAST(N'2025-10-06T00:40:47.863' AS DateTime))
INSERT [dbo].[USERS] ([UserID], [UserName], [UserPassword], [Phone], [Email], [UserAddress], [UserRole], [UserStatus], [CreatedAt]) VALUES (2, N'Lê Bình', N'123456', N'0902222222', N'binh@gmail.com', N'Đà Nẵng', 1, 1, CAST(N'2025-10-06T00:40:47.863' AS DateTime))
INSERT [dbo].[USERS] ([UserID], [UserName], [UserPassword], [Phone], [Email], [UserAddress], [UserRole], [UserStatus], [CreatedAt]) VALUES (3, N'Trần Cường', N'123456', N'0903333333', N'cuong@gmail.com', N'HCM', 2, 1, CAST(N'2025-10-06T00:40:47.863' AS DateTime))
SET IDENTITY_INSERT [dbo].[USERS] OFF
GO
SET IDENTITY_INSERT [dbo].[WEBSETTING] ON 

INSERT [dbo].[WEBSETTING] ([SettingID], [Logo], [Decription], [Addresse], [Max_Image_Size], [Websetting_Status]) VALUES (1, N'logo1.png', N'Cửa hàng đèn Lightning Store chuyên cung cấp đèn LED chất lượng cao.', N'123 Trần Hưng Đạo, Hà Nội', CAST(5.00 AS Decimal(8, 2)), 1)
INSERT [dbo].[WEBSETTING] ([SettingID], [Logo], [Decription], [Addresse], [Max_Image_Size], [Websetting_Status]) VALUES (2, N'logo2.png', N'Ánh sáng cho mọi nhà', N'456 Nguyễn Văn Linh, Đà Nẵng', CAST(10.00 AS Decimal(8, 2)), 1)
INSERT [dbo].[WEBSETTING] ([SettingID], [Logo], [Decription], [Addresse], [Max_Image_Size], [Websetting_Status]) VALUES (3, N'logo3.png', N'Chuyên sỉ và lẻ đèn trang trí', N'789 CMT8, TP HCM', CAST(8.00 AS Decimal(8, 2)), 1)
SET IDENTITY_INSERT [dbo].[WEBSETTING] OFF
GO
ALTER TABLE [dbo].[CART] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CART] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CONTACTS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CONTACTS] ADD  DEFAULT (N'Chưa xử lý') FOR [ContactStatus]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (N'Chờ xử lý') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[ORDERS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[REVIEWS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((1)) FOR [UserRole]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT ((1)) FOR [UserStatus]
GO
ALTER TABLE [dbo].[USERS] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WEBSETTING] ADD  DEFAULT ('1') FOR [Websetting_Status]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([ProductID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_Cart_Products]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[CONTACTS]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDERS] ([OrderID])
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([ProductID])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CATEGORIES] ([CategoryID])
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([ProductID])
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([UserID])
GO
ALTER TABLE [dbo].[CONTACTS]  WITH CHECK ADD CHECK  (([ContactStatus]=N'Đã phản hồi' OR [ContactStatus]=N'Đang xử lý' OR [ContactStatus]=N'Chưa xử lý'))
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD CHECK  (([OrderStatus]=N'Hủy' OR [OrderStatus]=N'Hoàn tất' OR [OrderStatus]=N'Đang giao' OR [OrderStatus]=N'Chờ xử lý'))
GO
ALTER TABLE [dbo].[REVIEWS]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD CHECK  (([UserRole]=(3) OR [UserRole]=(2) OR [UserRole]=(1)))
GO
ALTER TABLE [dbo].[USERS]  WITH CHECK ADD CHECK  (([UserStatus]=(0) OR [UserStatus]=(1)))
GO
USE [master]
GO
