@{
    ViewData["Title"] = "Home Page";
}
@Url.Content("~/css/site.css")
<div class="text-center">
   <h1>Bai tập tuần 04</h1>
   <div>
       <table class="danh_sach_user">
           <thead>
               <td>
                   <tr>
                        STT
                    </tr>
                    <tr>
                        User name
                    </tr>
               </td>
           </thead>
           
    <tr>
        <td></td>
    </tr>
</table>
   </div>
</div>
