<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"] - Quản trị</title>

  <link href="~/admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="~/admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />
  <link href="~/admin/dist/css/timeline.css" rel="stylesheet" />
  <link href="~/admin/dist/css/sb-admin-2.css" rel="stylesheet" />
  <link href="~/admin/bower_components/morrisjs/morris.css" rel="stylesheet" />
  <link href="~/admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
</head>
<body>
  <div id="wrapper">
    @await Html.PartialAsync("_HeaderAdmin")
    <div id="page-wrapper" class="container-fluid">
      @RenderBody()
    </div>
  </div>

  <script src="~/admin/vendor/jquery/jquery.min.js"></script>

  <script src="~/admin/vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="~/admin/vendor/metismenu/metisMenu.min.js"></script>

  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

  <script src="~/admin/dist/js/sb-admin-2.js"></script>

  @RenderSection("Scripts", required: false)
</body>
</html>